body {
    margin: 10px;
}

button {
  margin: 4px;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  font-family: sans-serif;
  list-style-type:none;

}

.rowB{
  display:flex;
  flex-direction:row;
}

.task-list {
  padding: 3px;
  z-index: -100;
  margin: 10px;
  height: 360px;
  width: 250px;
  background-color: #428bca;
  margin-left: auto;
  margin-right: auto;
}

.list-item {
  margin: 4px;
  height: 5.5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  list-style-type:none;

}

.task-list-user1 {
  padding: 3px;
  position: relative;
  z-index: -100;
  margin: 1px;
  height: 360px;
  width: 250px;
  background-color: #428bca;
  margin-left: auto;
  margin-right: auto;
}
.task-list-user2 {
  position: relative;
  padding: 3px;
  z-index: -100;
  margin: 45px;
  height: 360px;
  width: 250px;
  background-color: #428bca;
  margin-left: auto;
  margin-right: auto;
}
.task-list-user3 {
  position: relative;
  padding: 3px;
  z-index: -100;
  margin: 90px;
  height: 360px;
  width: 250px;
  background-color: #428bca;
  margin-left: auto;
  margin-right: auto;
}

.podiumNumber {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 48px;

}
.buttonPosition {
  left: 90%;
  z-index: 100;
}
